.avatar-based-user-selector {
  cursor: pointer;
}

.avatar-editor {
  cursor: copy;
}

.collapsible-section-label {
  cursor: pointer;
}

.debug {
  background: orange;
}

.deleted-row {
  background: #fff7f7;
}


form {
  input {
    width: 250px;
  }
}

.hidden {
  display: none;
}

.image-drop-zone {
  border-style: dashed;
  border-width: 1px;
  border-color: darkgray;
  width: 100%;
  height: 70px;
  text-align: center;
  padding: 5px;
  cursor: copy;
}

.info-box {
  text-align: center;
}

.inline-placeholder {
  color: #cdcdcd;
}

.inline-text-input-icon {
  cursor: pointer;
}

.inline-text-input {
  border: 1px solid transparent;
  border-radius: 4px;
  width: 100%;
  min-height: 28px;
  height: 100%;
  vertical-align: middle;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
  padding-left: 4px;
  padding-right: 4px;
  padding-bottom: 0;
  margin-bottom: 0;
}

.inline-text-input-hover {
  @extend .inline-text-input;
  border: 1px solid #ccc;
}

.list-group-actions {
  text-align: right;
}

.notification-list {
  width: 300px;
}

.popover-dropdown-button {
  min-width: 80px;
  cursor: pointer;
}

.popover-dropdown-option {

}

.primary-call-to-action {
  padding-bottom: 30px;
  padding-top: 10px;
}

.progress-medium {
  height: 15px;
}

.progress-small {
  height: 10px;
}

.transparent {
  opacity: 0;
}

#user-selector-popover {
  width: 500px;
}

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

/**
  Avatar Cropper
**/

.AvatarCropper-base {
  text-align: center;
}

.AvatarCropper-base input[type=range] {
  display: inline-block;
}

.AvatarCropper-base input[type=range] {
  /*removes default webkit styles*/
  -webkit-appearance: none;
  /*fix for FF unable to apply focus style bug */
  padding: 20px 0;
  border: 1px solid white;

  /*required for proper track sizing in FF*/
  width: 400px;
}
.AvatarCropper-base input[type=range]::-webkit-slider-runnable-track {
  width: 400px;
  height: 5px;
  background: #ddd;
  border: none;
  border-radius: 3px;
}
.AvatarCropper-base input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #454545;
  margin-top: -4px;
}
.AvatarCropper-base input[type=range]:focus {
  outline: none;
}
.AvatarCropper-base input[type=range]:focus::-webkit-slider-runnable-track {
  background: #ccc;
}

.AvatarCropper-base input[type=range]::-moz-range-track {
  width: 400px;
  height: 5px;
  background: #ddd;
  border: none;
  border-radius: 3px;
}
.AvatarCropper-base input[type=range]::-moz-range-thumb {
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #454545;
}

/*hide the outline behind the border*/
.AvatarCropper-base input[type=range]:-moz-focusring{
  outline: 1px solid white;
  outline-offset: -1px;
}

.AvatarCropper-base input[type=range]::-ms-track {
  width: 400px;
  height: 5px;

  /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
  background: transparent;

  /*leave room for the larger thumb to overflow with a transparent border */
  border-color: transparent;
  border-width: 6px 0;

  /*remove default tick marks*/
  color: transparent;
}
.AvatarCropper-base input[type=range]::-ms-fill-lower {
  background: #777;
  border-radius: 10px;
}
.AvatarCropper-base input[type=range]::-ms-fill-upper {
  background: #ddd;
  border-radius: 10px;
}
.AvatarCropper-base input[type=range]::-ms-thumb {
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #454545;
}
.AvatarCropper-base input[type=range]:focus::-ms-fill-lower {
  background: #888;
}
.AvatarCropper-base input[type=range]:focus::-ms-fill-upper {
  background: #ccc;
}
.AvatarCropper-base canvas {
  cursor: move;
}
