<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:include="fragments/layout :: page">
<head>
    <title></title>
</head>
<body>
<div th:fragment="content">
    <script type="application/javascript" th:src="@{/resources/js/compiled/jsx/react-test.js}"></script>
    <script type="text/javascript">
        //<![CDATA[
        $(function () {
            renderClient();
        });
        //]]>
    </script>
    <div th:text="${exampleContent}" id="example"></div>
</div>
</body>
</html>

