<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      th:fragment="page">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title th:text="${title} ?: #{title.default}">Java Application Skeleton</title>

    <link rel="icon" type="image/png" sizes="32x32" href="/resources/images/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="96x96" href="/resources/images/favicon-96x96.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/resources/images/favicon-16x16.png" />

    <script th:if="${webpackMode == 'DYNAMIC'}" th:src="'http://localhost:9090//js/compiled/basic.js'"></script>
    <script th:if="${webpackMode != 'DYNAMIC'}" th:src="@{/js/compiled/basic.js}"></script>

    <script th:inline="javascript">
        //<![CDATA[

        $.i18n.properties({
            name:'messages',
            path: '/i18n/',
            mode:'map',
            language:'en_US',
            callback: function() {
                // I specified mode: 'map' because the 'vars' mode
                // will add a lot of global JS vars to the page.

                // Accessing a simple value through the map
                //$.i18n.prop('msg_hello');

                // prints 'привет'
                //alert($.i18n.prop('settings-saved'));

                // Setup: msg_complex = доврое утро {0}!
                //alert($.i18n.prop('msg_complex', 'John'));
            }
        });
        //]]>
    </script>
    <script sec:authorize="isAnonymous()" th:inline="javascript">
        //<![CDATA[
        localStorage.removeItem("apiToken");
        //]]>
    </script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script type="text/javascript" src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script type="text/javascript" src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<div sec:authorize="hasRole('ROLE_USER') and principal.getUser().requiresEmailChangeConfirmation()">
    <div th:replace="fragments/notice_pending_email_confirmation :: notice" />
</div>

<!--<div sec:authorize="isAnonymous()">-->
    <div th:replace="fragments/header_anonymous :: header" />
<!--</div>-->

<!--<div sec:authorize="hasRole('ROLE_USER') and !principal.getUser().requiresAccountConfirmation()">-->
    <!--<div th:replace="fragments/header_authenticated :: header" />-->
<!--</div>-->

<div sec:authorize="hasRole('ROLE_USER') and principal.getUser().requiresAccountConfirmation()">
    <div th:replace="fragments/header_unconfirmed :: header" />
</div>

<div class="container" th:include="this :: content"/>

<div th:replace="fragments/footer :: footer" />

</body>
</html>
